---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b831186&format=json&hashkey=c0691c3a45468ff1c65a108f63b603103e0e188b&ip=109.235.143.113&locale=de&offer_types=112&page=&pub0=&timestamp=1417929666&uid=user2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - dd2363af49a3baf807902dc54ce35adcd2711099
      X-Sponsorpay-Response-Code:
      - OK
    body:
      encoding: UTF-8
      string: '{"code":"OK","message":"OK","count":1,"pages":1,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=user2"},"offers":[{
        "title": "Tap  Fish","offer_id": 13554,"teaser": "Download and START" ,"required_actions": "Download and START","link": "http://iframe.sponsorpay.com/mbrowser?appid=157&lpid=11387&uid=player1","offer_types" : [ {  "offer_type_id": 101,  "readable": "Download" }, {  "offer_type_id": 112,  "readable": "Free" }] ,"thumbnail" : { "lowres": "http://cdn.sponsorpay.com/assets/1808/icon175x175-2_square_60.png", "hires": "http://cdn.sponsorpay.com/assets/1808/icon175x175-2_square_175.png"},"payout": 90,"time_to_payout" : { "amount": 1800 , "readable": "30 minutes"}}]}'
  recorded_at: Sun, 07 Dec 2014 05:21:08 GMT
recorded_with: VCR 2.9.3
