---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b831186&format=json&hashkey=3107b2f971db5302725b941a883bdd54f32dfaff&ip=109.235.143.113&locale=de&offer_types=112&page=1&pub0=campaign1&timestamp=1417929665&uid=user1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - 9a910e2e0168dc311cc8b4c39f022bccc0445dcd
      X-Sponsorpay-Response-Code:
      - NO_CONTENT
    body:
      encoding: UTF-8
      string: '{"code":"NO_CONTENT","message":"Successful request, but no offers are
        currently available for this user.","count":0,"pages":0,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=user1"},"offers":[]}'
  recorded_at: Sun, 07 Dec 2014 05:21:06 GMT
recorded_with: VCR 2.9.3
