<h1>Offers</h1>

<% if @offers.present? %>
  <% @offers.each do |o| %>
    <div class="offer">
      <div class="title"><%= o['title'] %></div>
      <div class="payout"><%= o['payout'] %></div>
      <div class="thumbnail"><%= o['thumbnail']['hires'] %></div>
    </div>
  <% end %>
<% else %>
  <div class="no_offers">
    No offers
  </div>

  <%= link_to 'Go back', root_path %>
<% end %>
