<h1>Offers</h1>

<% if @offers.present? %>
  <% @offers.each do |o| %>
    <%= render 'offer', offer: o %>
  <% end %>
<% else %>
  <div class="no_offers">
    No offers
  </div>

  <%= link_to 'Go back', root_path %>
<% end %>
